---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
import PageExcerpt from '../../components/PageExcerpt.astro';
import Separator from '../../components/Separator.astro';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout {...post.data}>
	<PageHeader title={post.data.title}>
		{post.data.excerpt && (
			<>
				<PageExcerpt>
					{post.data.excerpt}
				</PageExcerpt>
				<Separator />
			</>
		)}
	</PageHeader>
	<div class="mx-auto max-w-xl content has-drop-cap">
		<Content />
	</div>
</Layout>
