---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
import PostList from '../../components/PostList.astro';


const SITE_TITLE = 'Blog - Thomas Weichselbaumer';
const SITE_DESCRIPTION = 'Latest blog posts from Thomas Weichselbaumer, a web developer from Augsburg, Germany.';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<PageHeader title="Latest posts" />
	<section class="mx-auto max-w-2xl">
		<PostList />
	</section>
</Layout>
