@import "tailwindcss";
@import '@fontsource-variable/albert-sans' layer(base);
@import '@fontsource-variable/lora' layer(base);

@theme {
  --color-main-50: oklch(0.962 0.002 67.9);
  --color-main-100: oklch(0.923 0.004 67.82);
  --color-main-200: oklch(0.847 0.007 67.75);
  --color-main-300: oklch(0.769 0.01 72.63);
  --color-main-400: oklch(0.687 0.015 67.58);
  --color-main-500: oklch(0.605 0.018 70.39);
  --color-main-600: oklch(0.515 0.016 67.46);
  --color-main-700: oklch(0.423 0.012 72.5);
  --color-main-800: oklch(0.324 0.009 67.5);
  --color-main-900: oklch(0.218 0.004 84.56);
  --color-main-950: oklch(0.16 0.003 67.64);

  --font-sans: 'Albert Sans Variable', sans-serif;
  --font-serif: 'Lora Variable', serif;

  --text-5xl: 2.5rem;
  --text-6xl: 3.5rem;

  --text-xs--line-height: 1.5;
  --text-sm--line-height: 1.5;
  --text-base--line-height: 1.5;
  --text-lg--line-height: 1.5;
  --text-xl--line-height: 1.5;
  --text-2xl--line-height: 1.5;
  --text-3xl--line-height: 1.5;
  --text-4xl--line-height: 1.3;
  --text-5xl--line-height: 1.3;
  --text-6xl--line-height: 1.15;
}

@layer base {
  h1, h2, h3, h4 {
    @apply font-sans;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold;
  }
  
  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl font-bold;
  }
  
  h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  
  h4 {
    @apply text-xl md:text-2xl font-semibold;
  }
}

@layer components {
  .content {
    > * {
      @apply mt-4;
    }

    p {
      @apply text-lg sm:text-xl;
    }

    > p:first-child::first-letter {
      @apply float-left mt-2 me-2 sm:me-4 text-6xl sm:text-7xl md:text-8xl uppercase;
    }

    h2 {
      @apply mt-8 md:mt-10;
    }
    
    h3 {
      @apply mt-6 md:mt-8;
    }
    
    h4 {
      @apply md:mt-6;
    }

    blockquote {
      @apply md:-mx-18 lg:-mx-36 my-8 md:my-16 font-medium sm:text-center;

      p {
        @apply text-3xl sm:text-4xl italic;
      }

      cite {
        @apply text-xl;
      }
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    ul,
    ol {
      @apply list-inside text-lg sm:text-xl;

      ul, ol {
        @apply ms-4 mb-2;
      }
    }
  }
}
