@import "tailwindcss";
@import '@fontsource-variable/albert-sans' layer(base);
@import '@fontsource-variable/lora' layer(base);

@theme {
  --color-main-50: oklch(0.969 0.007 67.76);
  --color-main-100: oklch(0.924 0.018 70.23);
  --color-main-200: oklch(0.837 0.047 70.28);
  --color-main-300: oklch(0.751 0.046 71.5);
  --color-main-400: oklch(0.665 0.042 72.07);
  --color-main-500: oklch(0.579 0.036 71.54);
  --color-main-600: oklch(0.493 0.031 74.38);
  --color-main-700: oklch(0.398 0.025 69.46);
  --color-main-800: oklch(0.311 0.019 70.31);
  --color-main-900: oklch(0.226 0.014 72.11);
  --color-main-950: oklch(0.177 0.01 67.06);

  --font-sans: 'Albert Sans Variable', sans-serif;
  --font-serif: 'Lora Variable', serif;

  --text-5xl: 2.75rem;
  --text-6xl: 3.5rem;
}

@layer base {
  h1, h2, h3, h4 {
    @apply font-sans;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold;
  }
  
  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl font-bold;
  }
  
  h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  
  h4 {
    @apply text-xl md:text-2xl font-semibold;
  }
}
