---
import { getCollection } from 'astro:content';
import PostDate from './PostDate.astro';

interface Props {
	numberOfPosts?: number;
	tag?: string;
}

const { numberOfPosts, tag = 'h2' } = Astro.props;

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const displayPosts = numberOfPosts ? posts.slice(0, numberOfPosts) : posts;
const Tag = tag as 'h2' | 'h3';
---

<ul class="border-main-300 dark:border-main-700 border-b-1">
	{
		displayPosts.map((post) => (
			<li class="border-main-300 dark:border-main-700 items-center justify-between gap-8 border-t-1 py-4 sm:flex">
				<Tag class="text-xl font-medium">
					<a
						class="underline-offset-6 hover:underline"
						href={`/blog/${post.id}/`}
					>
						{post.data.title}
					</a>
				</Tag>
				<span class="text-main-600 dark:text-main-300">
					<PostDate date={post.data.pubDate} />
				</span>
			</li>
		))
	}
</ul>
