---
import { type CollectionEntry } from 'astro:content';
import PostDate from './PostDate.astro';

interface Props {
	post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<div
	class="border-main-300 dark:border-main-700 items-center justify-between gap-8 border-t-1 py-4 sm:flex"
>
	<a
		class="flex items-center gap-2 font-sans text-xl font-medium underline-offset-4 hover:underline"
		href={`/blog/${post.id}/`}
		rel="prev"
	>
		<slot />
		{post.data.title}
	</a>
	<span class="text-main-600 dark:text-main-300">
		<PostDate date={post.data.pubDate} />
	</span>
</div>
