---
import HeaderNavigationLink from "./HeaderNavigationLink.astro";
---

<nav class="font-sans font-medium text-xl">
	<ul class="flex flex-col sm:flex-row items-center gap-6 lg:gap-10">
		<HeaderNavigationLink href="blog/" text="Blog" />
		<HeaderNavigationLink href="projects/" text="Projects" />
		<HeaderNavigationLink href="about/" text="About" />
	</ul>
</nav>
