---
import HeaderNavigationLink from './HeaderNavigationLink.astro';
---

<nav class="font-sans text-xl font-medium">
	<ul class="flex flex-col items-center gap-6 sm:flex-row lg:gap-10">
		<HeaderNavigationLink href="blog/" text="Blog" />
		<HeaderNavigationLink href="projects/" text="Projects" />
		<HeaderNavigationLink href="about/" text="About" />
	</ul>
</nav>
