---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/content/PageHeader.astro';
import PageExcerpt from '../components/content/PageExcerpt.astro';
import Separator from '../components/ui/Separator.astro';

export async function getStaticPaths() {
	const pages = await getCollection('pages');
	return pages.map((page) => ({
		params: { slug: page.id },
		props: page,
	}));
}
type Props = CollectionEntry<'pages'>;

const page = Astro.props;
const { Content } = await render(page);
---

<Layout {...page.data} title={page.data.title + ' - Thomas Weichselbaumer'}>
	<PageHeader title={page.data.title}>
		{
			page.data.excerpt && (
				<>
					<PageExcerpt>{page.data.excerpt}</PageExcerpt>
					<Separator />
				</>
			)
		}
	</PageHeader>
	<div class="content animate mx-auto max-w-xl">
		<Content />
	</div>
</Layout>
