---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import PageExcerpt from '../components/PageExcerpt.astro';
import Button from '../components/Button.astro';
import PostList from '../components/PostList.astro';
import Separator from '../components/Separator.astro';

const SITE_TITLE = 'Thomas Weichselbaumer';
const SITE_DESCRIPTION = 'I\'m a web developer from Augsburg, Germany. Specializing in front-end development, I mainly work with WordPress, React, and TypeScript.';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<PageHeader title="Hey, I'm Thomas 👋">
		<PageExcerpt>
			I'm a web developer from Augsburg, Germany. Specializing in front-end development, I mainly work with WordPress, React, and TypeScript.
		</PageExcerpt>
		<div class="mt-8 flex gap-4 justify-center">
			<Button href="/projects/">
				My projects
			</Button>
			<Button href="/about/" variant="secondary">
				About me
			</Button>
		</div>
	</PageHeader>
	<section class="mt-16 sm:mt-24 md:mt-32 mx-auto max-w-2xl">
		<h2 class="mb-4">Latest Posts</h2>
		<PostList numberOfPosts={5} tag="h3" />
		<Button className="mt-8" href="/blog/" variant="secondary">
			View all posts
		</Button>
	</section>
</Layout>
