---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/content/PageHeader.astro';
import Columns from '../components/ui/Columns.astro';
import Column from '../components/ui/Column.astro';
import Button from '../components/ui/Button.astro';

const SITE_TITLE = 'Projects - Thomas Weichselbaumer';
const SITE_DESCRIPTION = 'Projects from Thomas Weichselbaumer, a web developer from Augsburg, Germany.';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<PageHeader title="Projects" />
	<div class="content animate">
		<Columns>
			<Column>
				<h2 class="mt-0 mb-4 text-3xl">ThemeZee</h2>
			</Column>
			<Column>
				<p>ThemeZee is my shop for WordPress themes and plugins. Launched in 2010, I can look back on 15 years of creating and selling software products. The main business model is to publish free, open source themes and sell premium upgrades for them. My numerous designs have generated millions of downloads and over 12,000 paying customers to date. Since 2023, I have only been running the project as a side business.</p>
				<div class="mt-6 md:mt-8">
					<Button href="https://themezee.com" variant="secondary">
						Visit ThemeZee.com
					</Button>
				</div>
			</Column>
		</Columns>
		<Columns>
			<Column>
				<h2 class="mt-0 mb-4 text-3xl">Matchball App</h2>
			</Column>
			<Column>
				<p>One of my passions is playing tennis. I'm also the chairman of the local tennis club in my town. Matchball is my newest side project and is intended to become the social app for tennis clubs. Players should be able to use it to challenge each other, organize their own tournaments, and even plan leagues. It will also include a booking system for tennis courts and an event calendar.</p>
				<p class="mt-4">The app is build with NextJS, TypeScript, Prisma, Supabase, Shadcn/UI and Tailwind CSS.</p>
				<p class="mt-4">Coming soon.</p>
			</Column>
		</Columns>
	</div>
</Layout>
