---
import FooterNavigation from './FooterNavigation.astro';
import SocialIcons from './SocialIcons.astro';
const currentYear = new Date().getFullYear();
---

<footer class="mt-16 sm:mt-24 md:mt-32 mb-16">
	<div class="py-2 sm:py-3 md:py-4 flex flex-col flex-reverse sm:flex-row gap-4 sm:justify-between items-center [&_a]:hover:underline [&_a]:underline-offset-4">
		<FooterNavigation />
		<SocialIcons />
	</div>
	<p class="max-sm:mt-4 max-sm:text-center text-sm">
		&copy; {currentYear} Build with ❤️ and Astro.
	</p>
</footer>
