---
import HeaderNavigation from './HeaderNavigation.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="py-4 sm:py-8 lg:py-16 flex flex-col sm:flex-row gap-6 sm:justify-between items-center [&_a]:hover:underline [&_a]:underline-offset-4">
	<p class="font-sans font-medium text-xl">
		<a href="/">Thomas Weichselbaumer</a>
	</p>
	<div class="flex gap-6 lg:gap-10 items-center">
		<HeaderNavigation />
		<ThemeToggle />
	</div>
</header>
