---
import { getCollection } from 'astro:content';

interface Props {
	numberOfPosts?: number;
	tag?: string;
}

const { numberOfPosts, tag = 'h2' } = Astro.props;	

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const displayPosts = numberOfPosts ? posts.slice(0, numberOfPosts) : posts;
const Tag = tag as any;
---

<ul class="border-b-1 border-main-300">
	{
		displayPosts.map((post) => (
			<li class="py-4 border-t-1 border-main-300">
				<Tag class="text-xl font-medium">
					<a class="hover:underline underline-offset-4" href={`/blog/${post.id}/`}>
						{post.data.title}
					</a>
				</Tag>
			</li>
		))
	}
</ul>
