---
import { type CollectionEntry } from 'astro:content';
import PostNavigationLink from './PostNavigationLink.astro';

interface Props {
	prevPost?: CollectionEntry<'posts'>;
	nextPost?: CollectionEntry<'posts'>;
}

const { prevPost, nextPost } = Astro.props;	
---

{
	(prevPost || nextPost) && (
		<nav class="mx-auto max-w-2xl mt-8 sm:mt-12 md:mt-16 border-b-1 border-main-300 [&_svg]:w8 [&_svg]:h-8 [&_svg]:text-main-950">
			{prevPost && (
				<PostNavigationLink post={prevPost}>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
						<path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path>
					</svg>
				</PostNavigationLink>
			)}
			{nextPost && (
				<PostNavigationLink post={nextPost}>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
						<path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
					</svg>
				</PostNavigationLink>
			)}
		</nav>
	)
}
